{% extends "base_blackjack.html.twig" %}

{% block title %}Black Jack{% endblock %}

{% block main %}
<div class="div_block">
<h1>Black Jack</h1>
<p>

>> In Blackjack, every player is betting against the dealer. 
The individual non-dealer players aren’t playing against one another.<br>
>> The goal of the game is to get a higher hand than the dealer without going over 21. 
Going over 21 is called busting.<br>
>> If a player has a better hand than the dealer without busting, they win their bet. 
If they have a worse hand, the dealer takes their bet.<br>

>> Player starts with 250.<br>
>> If 21 or higher than the bank win is Bet * 2<br>
>> Player can play on up to three spots at the same time.<br>

>> If all cards in the deck get used up you have to delete session to start over.<br>
>> If your money is zero you have to delete session to start over.<br><b>

</p>
</div>

{% endblock %}
