body {
    background-color: rgb(161, 234, 154);
    margin: 0 auto;
    max-width: 700px;
}

h1 {
    border-bottom: 4px double #464444;
}

header {
    height: 100px;
    width: 100%;
    color: white;
}

nav {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }
      
    li {
        float: left;
    }
      
    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }
      
    li a:hover {
        background-color: #111;
    }
}

img {
    display: block;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

p {
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.kmom p {
    padding-top: 0px;
}

.row {
    display: flex;
    width: 700px;
}

.column {
    flex: 50%;
    border: 4px double #464444;
}

footer {
    background-color: #333;
    color: white;
    height: 60px;
    text-align: center;
}

input {
    font-size: 1em;
}

.die {
    font-size: 5em;
}

.die_ul {
    list-style-type: none;
    overflow: hidden;
}

.die_li {
    display: block;
    float: left;
}

form {
    margin-bottom: 20px;
}

.flash-notice {
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    font-size: 24px;
}
.flash-notice:before {
    content: "ⓘ";
}

.flash-warning {
    padding: 0.5em;
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    font-size: 24px;
}
.flash-warning:before {
    content: "⚠";
}

.form21 {
    display: inline-block;
    margin: 2px
}

button {
    margin: 20px;
    margin-left: 50px;
    margin-top: 5px
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #62d585;
}

.library_img {
    height: 500px;
    width: auto;
}
