{% extends "base.html.twig" %}

{% block title %}index{% endblock %}

{% block body %}
    <h1>Index</h1>
    <img src="{{ asset('img/Jack_Russell_Terrier.jpg') }}" alt="">
    <p>Jack russell terrier är en alert, aktiv och intelligent hund med stor personlighet.
    Den är trots storleken inte en "knähund", utan en självständig och aktiv hund som har en traditionell terriers 
    hela hårdhet i både kropp och psyke. Hunden behöver mycket fysisk aktivitet och intellektuell stimulans för att må bra.

    Rasen används fortfarande ofta som grythund, men även som jakthund för andra uppgifter, till exempel för spårning. 
    Jack russelln är också vanlig som sällskapshund till exempel hos hästintresserade människor. 
    Eftersom hunden är så självständig kan den röra sig fritt i stall och springa bredvid hästen vid ritt. 
    Jack russell terriern har dessutom en naturlig instinkt och skicklighet att jaga och döda mindre gnagare, 
    vilket kan göra den särskilt lämplig som stallhund.</p>
{% endblock %}